@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Remove default up and down arrows for number input */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    appearance: textfield !important;
    -moz-appearance: textfield !important;
  }

  /* 
  * Make date picker not so ugly 
  *
  * https://stackoverflow.com/questions/44825477/html-css-change-date-input-highlight-color
  */
  input::-webkit-datetime-edit-day-field:focus,
  input::-webkit-datetime-edit-month-field:focus,
  input::-webkit-datetime-edit-year-field:focus {
    background-color: rgba(0, 0, 0, 0);
    color: var(--muted-foreground);
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .border-slice {
    border-image-slice: 1;
  }
  .border-grad-r-blue {
    border-image-source: linear-gradient(
      to right,
      #4dfdff,
      rgba(255, 255, 255, 0)
    );
  }
  .border-grad-l-blue {
    border-image-source: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      #4dfdff
    );
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    /* CUSTOM COLORS */
    --default: 240, 21%, 17%;
    --market-up: 169, 100%, 40%;
    --dropdown: 0, 0%, 98%;
    /* --menu-highlight: 181, 100%, 50%; */
    --menu-highlight: 190, 80%, 63%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --default: 0, 0%, 100%;
    --market-up: 169, 100%, 63%;
    --dropdown: 275, 11%, 15%;
    --menu-highlight: 181, 100%, 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
